*{
	margin: 0;
	padding: 0;
	
}
/* 背景图 */
body{
	background-image: url(../img/body_bg.jpg);
	text-align: center;
}
div{
	margin: 0;
	padding: 0;
}
.box{
	width: 912px;
	height: 100%;
	background-color: white;
	margin: 0 auto;
}
