<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="../../vue.min.js"></script>
    <script src="../../axios.min.js"></script>
</head>
<body>
    <div class="app">
        <div class="search">
            <input type="text" class="search-s" v-model="city" @keyup.enter="searchWeather">
            <button class="search-b" @click="searchWeather">搜索</button>
            <div class="city">
                    <span><a href="#" @click="changeWeather('北京')">北京</a> </span>
                    <span><a href="#" @click="changeWeather('上海')">上海</a> </span>
                    <span><a href="#" @click="changeWeather('广州')">广州</a> </span>
                    <span><a href="#" @click="changeWeather('深圳')">深圳</a> </span>
            </div>
        </div>
        <div class="weather">
            <ul>
                <li v-for="item in weatherList">
                    <span class="s1">{{item.type}}</span>
                    <span class="s2">{{item.low+'~'}}{{item.high}}</span>
                    <span class="s3">{{item.date}}</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>