*{
	margin: 0;
	padding: 0;
}
a{
	cursor: pointer;
}

#app{
	min-width: 1000px;
	/*需要注释掉*/
	/*background-color: tan;*/
}

.header{
	width: 1000px;
	height: 100px;
	/*需要注释掉*/
	/*background-color: yellow;*/
	margin: 0 auto;
}

.header .logo{
	width: 243px;
	height: 22px;
	float: left;
	margin-top: 39px;
	margin-left: 20px;
	background: url(../img/logo.jpg);
}
.header form{
	width: 227px;
	height: 28px;
	border: 1px solid #e5e5e5;
	float: right;
	margin-right: 20px;
	margin-top: 36px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	
}
.header form .txt{
	width: 197px;
	height: 28px;
	/*取消默认边框*/
	border: none;
	float: right;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #f1f1f1;
	/*padding-left: 14px;*/
	/*取消默认选择边框*/
	outline: none;
	border-right: 1px solid #E5E5E5;
}
.header form .btn{
	width: 29px;
	height: 28px;
	border: none;
	outline: none;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	float: left;
	background: #F1F1F1 url(../img/search.jpg) no-repeat center center;
}

.navBar{
	width: 1000px;
	height: 59px;
	background-color: #323232;
	margin: 0 auto;
}

/*第一中方法*/
/*.navBar a{
	display: block;
	width: 119px;
	height: 59px;
	float: left;
	color: white;
	font-size: 14px;
	line-height: 59px;
	text-align: center;
	text-decoration: none;
	border-right: 1px solid #4a4a4a;
	
}
.navBar a:nth-child(1){
	margin-left: 20px;
}
.navBar a:nth-child(8){
	border: none;
}*/

/*第二种方式*/
.navBar ul{
	width: 960px;
	height: 59px;
	margin-left: 20px;
	list-style: none;
}

/*.navBar ul li{
	float: left;
	width: 119px;
	height: 59px;
	line-height: 59px;
	text-align: center;
	font-size: 14px;
	border-right: 1px solid #4a4a4a;
}
.navBar ul li:nth-child{
	border: none;
}
.navBar ul li a{
	color: white;
	text-decoration: none;
}*/

.navBar ul li{
	float: left;
	width: 120px;
	height: 59px;
}
.navBar ul li a{
	display: block;
	width: 119px;
	height: 59px;
	line-height: 59px;
	text-align: center;
	font-size: 14px;
	border-right: 1px solid #4a4a4a;
	color: white;
	text-decoration: none;
}
.navBar ul li:last-child a{
	border: none;
}


/*banner*/
.banner{
	width: 1000px;
	height: 463px;
	margin: 0 auto;
}

/*news-list*/
.news-list{
	width: 1000px;
	height: 240px;
	/*需要注释掉*/
	/*background-color: teal;*/
	margin: 0 auto;
}
.news-list .left{
	width: 500px;
	height: 100%;
	float: left;
	/*需要注释掉*/
	/*background-color: thistle;*/
}
.news-list .center{
	width: 240px;
	height: 100%;
	float: left;
	background-color: #F1F1F1;
}

.news-list .right{
	width: 260px;
	height: 100%;
	float: left;
	/*需要注释掉*/
	/*background-color: tomato;*/
	background: #FbfBfB url(../img/flower.jpg) no-repeat 165px 120px;
}

/*left*/
.news-list .left .box{
	width: 452px;
	height: 190px;
	margin-top: 32px;
	margin-left: 20px;
	/*background: tan;*/
}
.news-list .left .box div{
	height: 46px;
}
.news-list .left .box div h3{
	float: left;
	color: #1a1a1a;
	font-size: 18px;
	font-weight: normal;
}
.news-list .left .box div a{
	float: right;
}
.news-list .left .box ul{
	width: 100%;
	list-style: none;
}
.news-list .left .box ul li{
	font-size: 12px;
	line-height: 24px;
	background: url(../img/list.png) no-repeat left center;
	padding-left: 13px;
}
.news-list .left .box ul li a{
	color: #505050;
	text-decoration: none;
}
.news-list .left .box ul li time{
	float: right;
	color: #8f8f8f;
}

.news-list .center div{
	width: 193px;
	height: 181px;
	margin-top: 32px;
	margin-left: 24px;
}
.news-list .center div h3{
	height: 55px;
	color: #1A1A1A;
	font-size: 18px;
	font-weight: normal;
}
.news-list .center div p{
	font-size: 12px;
	line-height: 24px;
}
.news-list .center div p span{
	font-size: 14px;
}
.news-list .center div p:nth-child(3){
	color: #8f8f8f;
	margin-top: 12px;
}
/*六个p标签 想找到前四个 nth-child(遍历1到4)
 * -n+4
 *如果只有5，6有效果  设置5，6就行 
 *如果1~4有效果 那么就找到5，6去掉效果
 * */

.news-list .right div{
	width: 180px;
	height: 160px;
	margin-top: 32px;
	margin-left: 24px;
}
.news-list .right div h3{
	color: #1A1A1A;
	font-size: 18px;
	font-weight: normal;
	height: 43px;
}

.news-list .right div p{
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 47px;
}

/*wolong*/
.wolong{
	width: 1000px;
	height: 280px;
	margin: 20px auto;
}
.wolong div{
	width: 100%;
	height: 40px;
	padding: 0 20px;
	box-sizing: border-box;
}
.wolong div h3{
	color: #1A1A1A;
	font-size: 18px;
	font-weight: normal;
	float: left;
}
.wolong div img{
	float: right;
}

.wolong ul{
	list-style: none;
}

.wolong ul li{
	width: 210px;
	height: 197px;
	float: left;
	margin: 0 20px;
}
.wolong ul li a:nth-child(1){
	display: block;
	width: 210px;
	height: 137px;
	background: url(../img/pic1.png);
}
.wolong ul li a:nth-child(2){
	display: block;
	font-size: 12px;
	color: black;
	text-decoration: none;
	margin-top: 10px;
}

/*links*/
.links{
	width: 1000px;
	height: 223px;
	background-color: #E5E5E5;
	margin: 0 auto;
}
.links .left{
	width: 452px;
	min-height: 160px;
	float: left;
	/*需要注释掉*/
	/*background-color: tan;*/
	margin-top: 27px;
	margin-left: 20px;
}
.links h3{
	font-weight: normal;
	font-size: 16px;
	color: #626262;
	height: 30px;
	border-bottom: 1px solid #c1c1c1;
}
.links .left ul{
	list-style: none;
	float: left;
	margin-top: 20px;
}
.links .left ul li{
	font-size: 12px;
	line-height: 24px;
	padding-left: 18px;
	background: url(../img/gt.jpg) no-repeat 5px center;
}
.links .left ul li a{
	color: #626262;
	text-decoration: none;
}

.links .left ul:nth-child(3)
{
	margin-left: 78px;
	margin-right: 68px;
}

.links .center{
	width: 152px;
	min-height: 160px;
	float: left;
	margin: 0 50px;
	margin-top: 27px;
	/*需要注释掉*/
	/*background-color: tan;*/
}
.links .center ul{
	margin-top: 20px;
	list-style: none;
}
.links .center ul li{
	font-size: 12px;
	line-height: 24px;
	padding-left: 18px;
	background: url(../img/gt.jpg) no-repeat 5px center;
}
.links .center ul li a{
	color: #626262;
	text-decoration: none;
}

.links .right{
	width: 257px;
	min-height: 160px;
	float: left;
	margin-top: 27px;
}
.links .right img{
	margin-top: 20px;
	margin-left: 20px;
}

/*footer*/
.footer{
	width: 960px;
	height: 58px;
	margin: 20px auto;
	/*需要注释掉*/
	/*background-color: tan;*/
}
.footer p:nth-child(1){
	height: 14px;
	float: left;
}
.footer p:nth-child(1) a{
	color: #626262;
	font-size: 12px;
	float: left;
	border-right: 1px solid #858585;
	padding: 0 5px;
}

.footer p:nth-child(1) a:last-child{
	border: none;
}
.footer p:last-child{
	width: 595px;
	float: right;
	line-height: 14px;
	font-size: 12px;
}
