.fictionBox{
	border: 1px solid #CCCCCC;
	padding: 20px 20px 0;
	margin: 40px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}
.fictionBox article{
	width: 500px;
	height: 130px;
	display: flex;
	margin-bottom: 20px;
}
.fictionImg{
	width: 100px;
	height: 130px;
	box-shadow: 0 3px 4px rgba(0,0,0, .5);
}
.fictionImg img{
	width: 100px;
	height: 130px;
}
.fictionInfo{
	height: 140px;
	margin-left: 15px;
	overflow: hidden;
}
.fictionInfo h3{
	margin-top: 5px;
}
.fictionTip{
	font-size: 13px;
	color: #555555;
}
.fictionTip span{
	margin: 0 8px;
	line-height: 35px;
}